@import "tailwindcss";

@theme {
  --color-background: #0a0a0a;
  --color-foreground: #ededed;
  --color-primary: #3b82f6;  /* Blue Color */
  --color-surface: #171717;  /* Dark Gray Card Color */
  --color-subtext: #9ca3af;  /* Light Gray Text */
}

:root {
  color-scheme: dark;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}